/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Estilo para el riel de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Color del riel */
  }
  
  /* Estilo para el mango o pulgar de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: #d3d2d2eb; /* Color del mango */
    border-radius: 5px; /* Bordes redondeados del mango */
  }
  
  /* Estilo cuando se pasa el mouse sobre la barra de desplazamiento */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #878484; /* Color del mango al pasar el mouse */

  }
  
  /* Estilo para los botones de flecha (arriba y abajo) de la barra de desplazamiento */
  ::-webkit-scrollbar-button {
    display: none; /* Ocultar los botones de flecha */
    background-color: rgba(255, 255, 255, 0);
  }
  

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    overflow: hidden;
    filter: invert(0);
}

#logo {
    position: absolute;
    width: 7vw;
    margin: 2vh 1vw;
    z-index: 2;
    
}

#name {
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 2;
    font-size: 1.9vw;
    font-family: math;
    font-weight: 700;
    margin: 5.5vh 6.3vw;
    text-shadow: -2px 1px 3px rgb(0,0,0);
}

#whi {
    position: absolute;
    margin: 4.5vh 2.5vw;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 3vw;
    z-index: 1;
}

#div1 {
    position: relative;
    left: -0.6vw;
    top: -2vh;
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    background-color: rgb(1, 0, 84);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.662);
    z-index: 2;
}

#bgA {
    position: absolute;
    width: 250vw;
    height: 100vh;
    left: -150%;
    top: 0;
    opacity: 0.6;
    filter: blur(5px);
    filter: brightness(20%);
}

#div1A {
    position: absolute;
    filter: invert(0);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 42vh;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:  0px 0px 0px rgba(255, 255, 255, 0.662);
    border-radius: 0.3vw;
}

#t1 {
    position: absolute;
    margin: 10% 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    font-size: 3vw;
    font-weight:lighter;
    font-family:'Syne', sans-serif;
    text-align: center;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
}

#t2 {
    position: absolute;
    margin-top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(163, 159, 159);
    width: 80%;
    font-size: 1.3vw;
    line-height: 4vh;
    font-family:'Syne', sans-serif;
    text-align: center;
}

#bI {
    position: absolute;
    margin: 50vh 35vw;
    width: 12vw;
    height: 7vh;
    background-color:  rgba(255, 255, 255, 0.756);
    border-style: none;
    border-bottom-style: none;
    border-radius: 0vw;
    border-color: rgb(7, 0, 50);
    border-width: 1px;
    color: rgb(4, 0, 80);
    font-size: 1.3vw;
    box-shadow: 3px 3px 1px rgb(1, 1, 2);
    border-radius: 0.3vw;
}

#bI2 {
    position: absolute;
    margin: 50vh 51vw;
    width: 12vw;
    height: 7vh;
    background-color:  rgba(0, 0, 0, 0.225);
    border-style: solid;
    border-bottom-style: soldi;
    border-radius: 0vw;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    box-shadow: 3px 3px 1px rgb(1, 1, 2);
    border-radius: 0.3vw;
    filter: blur(0px);
}

#div2 {
    position: absolute;
    filter: invert(0);
    margin: 85vh 10vw;
    width: 25vw;
    height: 65vh;
    background-color:  rgba(255, 255, 255, 0.756);
    box-shadow:  3px 3px 0px rgba(100, 144, 194, 0.66);
    border-radius: 0.2vw;
}

.tit2 {
    position: absolute;
    font-size: 2vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 2vh;
    font-weight: bold;
}

#div3 {
    position: absolute;
    margin: 90vh 51vw;
    width: 20vw;
    height: 5vh;
    background-color:  rgba(0, 0, 0, 0.305);
    border-style: solid;
    border-radius: 0vw;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    box-shadow: 3px 3px 1px rgb(1, 1, 2);
    border-radius: 0.3vw;
    filter: blur(0px);
    padding-left: 1vw;
} #div3::placeholder {color:rgb(198, 198, 198);}

#div4 {
    position: absolute;
    margin: 100vh 51vw;
    width: 20vw;
    height: 5vh;
    background-color:  rgba(0, 0, 0, 0.305);
    border-style: solid;
    border-radius: 0vw;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    box-shadow: 3px 3px 1px rgb(1, 1, 2);
    border-radius: 0.3vw;
    filter: blur(0px);
    padding-left: 1vw;
} #div4::placeholder {color:rgb(198, 198, 198);}

#div5 {
    position: absolute;
    margin: 110vh 51vw;
    width: 20vw;
    height: 5vh;
    background-color:  rgba(0, 0, 0, 0.305);
    border-style: solid;
    border-radius: 0vw;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    box-shadow: 3px 3px 1px rgb(1, 1, 2);
    border-radius: 0.3vw;
    filter: blur(0px);
    padding-left: 1vw;
} #div5::placeholder {color:rgb(198, 198, 198);}

#conMe {
    position: absolute;
    margin: 135vh 56vw;
    width: 12vw;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.756);
    border-style: none;
    border-bottom-style: none;
    border-radius: 0vw;
    border-color: rgb(7, 0, 50);
    border-width: 1px;
    color: rgb(4, 0, 80);
    font-size: 1.3vw;
    box-shadow: 3px 3px 1px rgb(1, 1, 2);
    border-radius: 0.3vw;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }   
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    
    }
    to {
        opacity: 0;
        
    }
}

#bgB {
    position: fixed;
    width: 110vw;
    height: auto;
    left: -5vw;
    top: -4vh;
    opacity: 1;
    filter: invert();
    opacity: 1;
    animation: fadeIn 3s ease-in;
}

#bgB {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

#bgB.fadeOut {
    animation: fadeOut 1s ease-in-out forwards;
}


#bgB2 {
    position: fixed;
    width: 110vw;
    height: auto;
    left: -5vw;
    top: -4vh;
    opacity: 1;
    filter: invert();
    animation: none;
    /*display: none;*/
}

#divB {
    position: absolute;
    left: -0.6vw;
    top: 13vh;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    overflow-y:scroll;
    background-color: rgb(157, 158, 159);
    background: linear-gradient(10deg, rgba(10, 16, 102, 0.532), rgba(1, 29, 112, 0.411),rgba(0, 0, 0, 0.471));
    box-shadow:  0px 4px 30px rgba(0, 0, 0, 0.662);
    z-index: 3;
}

#bA {
    position: absolute;
    margin: 70vh 50vw;
    width: 12vw;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.621);
    background: linear-gradient(120deg, rgba(46, 38, 158, 0.5), rgba(24, 79, 245, 0.63), rgb(71 132 255 / 50%));
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.662);
    border-radius: 0.3vw;
    border-style: none;
    color: white;
    font-size: 1.5vw;
    text-shadow: -1px 1px 3px rgb(84, 82, 82);
}


#bCol {
    position: absolute;
    margin: 6vh 70vw;
    width: 8vw;
    height: 3vh;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom-style: solid;
    border-radius: 0vw;
    border-color: white;
    border-width: 1px;
    color: white;
    font-size: 1.1vw;

}

#bCon {
    position: absolute;
    margin: 6vh 88vw;
    width: 8vw;
    height: 3vh;
    background-color: rgba(255, 255, 255, 0.756);
    border-style: none;
    border-bottom-style: none;
    border-radius: 0.1vw;
    border-color: white;
    border-width: 1px;
    color: rgb(0, 0, 0);
    font-size: 1.1vw;
    box-shadow: 3px 3px 1px rgb(61, 55, 103);

}

#bSer {
    position: absolute;
    margin: 6vh 79vw;
    width: 8vw;
    height: 3vh;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom-style: solid;
    border-radius: 0vw;
    border-color: white;
    border-width: 1px;
    color: white;
    font-size: 1.1vw;

}

#desc1 {
    position: absolute;
    color: black;
    font-size: 1.3vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: justify;
    margin-top: 14vh;
    width: 20vw;
}







#divEnd {
    position: absolute;
    margin-top: 200vh;
    margin-left: 10vw;
    background-color: rgba(0, 255, 255, 0);
    width: 10vw;
    height: 10vh;
}
